.classpath
.project
.settings
.DS_Store
target/
*.iml
*.ipr
*.idea
*.iws
*.swp
*.*~
bin/
/*/src/main/java/META-INF
/*/src/META-INF
.gitignore.swp
.faces-config.xml.jsfdia
docs/reference/src/main/docbook/en-US/version_info.xml
/config-prettyfaces/dependency-reduced-pom.xml
/config-tuckey/dependency-reduced-pom.xml
/transform-minify/dependency-reduced-pom.xml
